<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676856178500-9o91p8gbkr6rmogt70frkgmk7gtd1rh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676856178500-9o91p8gbkr6rmogt70frkgmk7gtd1rh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBsaMbMUsQOpyFBfJFhYnAtkeUuYGy-ZRo</string>
	<key>GCM_SENDER_ID</key>
	<string>676856178500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amid-studio.PetitionHub</string>
	<key>PROJECT_ID</key>
	<string>petitionhub-ec8c7</string>
	<key>STORAGE_BUCKET</key>
	<string>petitionhub-ec8c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676856178500:ios:1172f31def83c284895911</string>
</dict>
</plist>